*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: flex;
    .sidebar{
        
        position: -webkit-sticky;
  position: sticky;
  top: 0;
        background-color: #007673;
        height: 100vh;
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .profile, .add-new{
            text-decoration: none;
            color: white;
          }
        button{
            padding: 20px;
            width: 100%;
            border: none;
            background-color: #FFF9DA;
            border-radius: 20px;

        }

        .btn{
            display: flex;
            flex-direction: column;
            gap: 30px;
            button{
                font-size: large;
                width: 100%;
                border:none;
                background-color: #007673;
                color: white;

                
            }
            .new{
                background-color: white;
                color: black;
                border-radius: 20px;


            }

        }
    }


    .main{
        flex:7;



        form{
            padding: 2rem;
            display: flex;
            height: 100vh;
            flex-direction: column;

            .add{
                padding: 20px;
                width: 100%;

                button{
                    width: 20%;
                    border: none;
                    
                    margin-left: 80%;
                    color: white;
                    background-color: #580062;
                }
                
            }
            #title{
                border: none;
                padding: 20px;
                border-bottom: 1px solid black;
            }

            #content{
                border: none;
                height: 100%;

                
     
                background-color: rgb(240, 236, 236);

            }
        }
    }
}